<h2>Shop</h2>

<table>
    <tr>
        <th>Qty</th>
        <th>Price</th>
    </tr>
    {{#each deals}}
    <tr>
        <td>{{qty}}</td>
        <td>R{{price}}</td>
    </tr>
    {{/each}}
</table>