body {
	background-color: lightseagreen;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 	

.container{
	margin: auto;
	width: 80%;
}

.navbar {
	display: flex;
	list-style: none;
}

.navbar li {
	padding: 10px;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}