body {
	background-color: sandybrown;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* background-repeat: no-repeat;
    background-position: center;
   background-attachment: fixed;
	background-image: url("https://images.pexels.com/photos/6927631/pexels-photo-6927631.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");*/
} 	

.container{
	margin: auto;
	width: 80%;
}

.navbar {
	display: flex;
	list-style: none;
}

.navbar li {
	padding: 10px;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}